/* App.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .App {
    font-family: Arial, sans-serif;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .textbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .partner-label, .percentage-label, .newpartner-label, .newpercentage-label {
    margin-right: 10px;
  }
  
  .number-input {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .minus-button, .add-button, .calculate-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  
  .minus-button:hover, .add-button:hover, .calculate-button:hover {
    background-color: #5a6268;
  }
  
  .minus-button {
    background-color: #c82333;
  }
  
  .minus-button:hover {
    background-color: #bd2130;
  }
  
  .add-button {
    background-color: #218838;
    margin-top: 10px;
  }
  
  .add-button:hover {
    background-color: #1e7e34;
  }
  
  .calculate-button {
    background-color: #e0a800;
    margin-top: 10px;
  }
  
  .calculate-button:hover {
    background-color: #d39e00;
  }
  
  .newpartner-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .newpartner-number-input {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  